<p>personal-info-form works!</p>

<select class="form-select" aria-label="Default select example" [formControl]="selectedFormOption" (ngModelChange)="updateFormOption()">
    <option>--</option>
    <option *ngFor="let data of APIData" value="{{data.type}}" [class.selected]="data.type === selectedFormOption.value" >{{ data.title }}</option>
</select>
<button class="btn" (click)="printSelectedForm()">Print Form to Console</button>

<div *ngIf="fieldsReady">
    <app-dynamic-form-display [form]="form" [fields]="selectedFormData.fields"></app-dynamic-form-display>
</div>