<div class="form" [formGroup] = "form">
    <div *ngFor="let field of fields">
        <div class="form-group row">
            <label class="form-control-label mt-2" [attr.for]="field.name">
                {{field.name}}
            </label>
            <div class="mt-2" [ngSwitch]="field.type">
                <div *ngSwitchCase="'text'">
                    <input  class="form-control" id="textBox" type="text" required [name]="field.name" [formControlName]="field.key">
                </div>
                <div *ngSwitchCase="'select'">
                    <select class="form-select" aria-label="Default select example" [formControlName]="field.key"> >
                        <option>--</option>
                        <option *ngFor="let value of field.valuesAllowed"  [value]="value.key">{{ value.name }}</option>
                    </select>
                </div>
                <div *ngSwitchCase="'checkbox'" >
  
                </div>
                <div *ngSwitchCase="'radio'">
  
                </div>
            </div>
            </div>
    </div>
    <br/>
    <br/> 
  </div>